In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier

In [2]:
data = pd.read_csv("train.csv")

In [3]:
data.head()

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities
0,1,NaN,Afghanistan,33.0,65.0,1/22/2020,0,0
1,2,NaN,Afghanistan,33.0,65.0,1/23/2020,0,0
2,3,NaN,Afghanistan,33.0,65.0,1/24/2020,0,0
3,4,NaN,Afghanistan,33.0,65.0,1/25/2020,0,0
4,5,NaN,Afghanistan,33.0,65.0,1/26/2020,0,0

In [4]:
data = data.drop(['Province/State'],axis=1)

In [5]:
data.head()

   Id Country/Region   Lat  Long       Date  ConfirmedCases  Fatalities
0   1    Afghanistan  33.0  65.0  1/22/2020               0           0
1   2    Afghanistan  33.0  65.0  1/23/2020               0           0
2   3    Afghanistan  33.0  65.0  1/24/2020               0           0
3   4    Afghanistan  33.0  65.0  1/25/2020               0           0
4   5    Afghanistan  33.0  65.0  1/26/2020               0           0

In [8]:
data["Date"] = data["Date"].apply(lambda x: x.replace("/",""))

In [9]:
data.head()

   Id Country/Region   Lat  Long     Date  ConfirmedCases  Fatalities
0   1    Afghanistan  33.0  65.0  1222020               0           0
1   2    Afghanistan  33.0  65.0  1232020               0           0
2   3    Afghanistan  33.0  65.0  1242020               0           0
3   4    Afghanistan  33.0  65.0  1252020               0           0
4   5    Afghanistan  33.0  65.0  1262020               0           0

In [11]:
data["Date"]  = data["Date"].astype(int)

In [18]:
Tree_model1 = DecisionTreeClassifier(criterion='entropy')
Tree_model2 = DecisionTreeClassifier(criterion='entropy')

In [19]:
x = data[['Lat','Long','Date']]
y1 = data[['ConfirmedCases']]
y2 = data[['Fatalities']]

In [20]:
Tree_model1.fit(x,y1) # Confirm Cases

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [21]:
Tree_model2.fit(x,y2) # Fatalities

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [22]:
test = pd.read_csv('test.csv')

In [23]:
test.head()

   ForecastId Province/State Country/Region   Lat  Long       Date
0           1            NaN    Afghanistan  33.0  65.0  3/12/2020
1           2            NaN    Afghanistan  33.0  65.0  3/13/2020
2           3            NaN    Afghanistan  33.0  65.0  3/14/2020
3           4            NaN    Afghanistan  33.0  65.0  3/15/2020
4           5            NaN    Afghanistan  33.0  65.0  3/16/2020

In [24]:
test = test.drop(['Province/State'],axis=1)

In [29]:
test.describe(include = ['O'])

       Country/Region       Date
count           12212      12212
unique            163         43
top                US  3/20/2020
freq             2494        284

In [30]:
test.isnull().sum()

ForecastId        0
Country/Region    0
Lat               0
Long              0
Date              0
dtype: int64

In [31]:
test["Lat"]  = test["Lat"].fillna(12.5211)
test["Long"]  = test["Long"].fillna(69.9683)

In [33]:
test["Date"] = test["Date"].apply(lambda x: x.replace("/",""))

In [34]:
X_pred = test[['Lat','Long','Date']]

In [37]:
y_pred1 = Tree_model1.predict(X_pred)

In [38]:
y_pred2 = Tree_model2.predict(X_pred)

In [40]:
S_no = test['ForecastId']

In [42]:
y_pred1 = pd.DataFrame(y_pred1)
y_pred2 = pd.DataFrame(y_pred2)
S_no = pd.DataFrame(S_no)
sub = pd.concat([S_no,y_pred1,y_pred2],axis = 1)

In [43]:
sub.head()

   ForecastId   0  0
0           1   7  0
1           2   7  0
2           3  11  0
3           4  16  0
4           5  21  0

In [44]:
sub.columns= ["ForecastId","ConfirmedCases","Fatalities"]

In [45]:
sub.head()

   ForecastId  ConfirmedCases  Fatalities
0           1               7           0
1           2               7           0
2           3              11           0
3           4              16           0
4           5              21           0

In [46]:
test.head()

   ForecastId Country/Region   Lat  Long     Date
0           1    Afghanistan  33.0  65.0  3122020
1           2    Afghanistan  33.0  65.0  3132020
2           3    Afghanistan  33.0  65.0  3142020
3           4    Afghanistan  33.0  65.0  3152020
4           5    Afghanistan  33.0  65.0  3162020

In [64]:
sub.to_csv('Predictions.csv',index = False)

In [48]:
predictions = sub

In [49]:
predictions["Date"] = test["Date"]

In [51]:
predictions = predictions.drop(["Date"],axis = 1)

In [54]:
dates = pd.read_csv('test.csv')

In [55]:
dates.head()

   ForecastId Province/State Country/Region   Lat  Long       Date
0           1            NaN    Afghanistan  33.0  65.0  3/12/2020
1           2            NaN    Afghanistan  33.0  65.0  3/13/2020
2           3            NaN    Afghanistan  33.0  65.0  3/14/2020
3           4            NaN    Afghanistan  33.0  65.0  3/15/2020
4           5            NaN    Afghanistan  33.0  65.0  3/16/2020

In [56]:
predictions["Date"] = dates["Date"]

In [57]:
predictions["Country/Region"] = dates["Country/Region"]

In [59]:
predictions = predictions.drop(["ForecastId"],axis = 1)

In [61]:
predictions = predictions[["Date","Country/Region","ConfirmedCases","Fatalities"]]

In [62]:
predictions.head()

        Date Country/Region  ConfirmedCases  Fatalities
0  3/12/2020    Afghanistan               7           0
1  3/13/2020    Afghanistan               7           0
2  3/14/2020    Afghanistan              11           0
3  3/15/2020    Afghanistan              16           0
4  3/16/2020    Afghanistan              21           0

In [65]:
predictions.to_csv("Corona.csv",index = False)

In [66]:
from sklearn.externals import joblib 
  
# Save the model as a pickle in a file 
joblib.dump(Tree_model1, 'Confirmed_Cases.pkl')

C:\Users\SHALIN\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

['Confirmed_Cases.pkl']

In [67]:
joblib.dump(Tree_model2,'Fatalities.pkl')

['Fatalities.pkl']

In [68]:
%logstart -o

Activating auto-logging. Current session state plus future input saved.
Filename       : ipython_log.py
Mode           : rotate
Output logging : True
Raw input log  : False
Timestamping   : False
State          : active